@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

.addComments {
	margin-bottom: 30px;
}

.addComments>.comment hr {
	margin: 3px 0px 3px 0px;
}

.cProfile {
	width: 75px;
}

.cProfile>img {
	width: 75px;
	height: 75px;
}

.cContent {
	width: 710px;
	margin-left: 20px;
}

/*----------------------------------------------------------------------------------*/
.cHeader {
	margin-bottom: 5px;
	height: 25px;
}

.cHeader>div {
	width: 70px;
}

.cHeader>div:nth-child(1) { /*닉네임*/
	width: 130px;
	margin: 0px 400px 0px 10px;
	font-weight: bold;
}

.c_update {
	margin-right: 30px;
}

.c_update:hover, .c_delete:hover {
	background-color: #D5D5D5;
	cursor: pointer;
}

.cHeader>div:nth-child(2) { /*댓글내용*/
	margin-right: 20px;
}

.cSection {
	margin-bottom: 5px;
}

.cFooter {
	font-size: 12px;
}

/*----------------------------------------------------------------------------------*/
.writeComments {
	margin-bottom: 30px;
}

.writeComments>.text>textarea, .addComments textarea {
	border-radius: 7px 7px 7px 7px;
}

#updateComment, #cancleComment {
	margin-left: 10px;
	float: right;
}

#secretmode {
	margin: 10px 0px 20px 10px;
}

#addComments {
	margin-left: 10px;
	width: 80px;
	display: block;
}

.cSecret {
	color: lightgray;
}