@charset "UTF-8";


.section1 {
	width: 400px;
	height: 100%;

}

.section2 {
	text-align: center;
	width: 400px;
	height: 100%;
}

.section2 form{
	padding: 0;
	margin: 0;
}

.nicknameSec {
	
	display: block;
	height: 50%;
	padding-top: 50px;
}

.section1 img {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 2px solid #eee;
}

.section2 button{
	width: 80%;
	height: 40px;
	margin: 10px 20px 10px 20px;
}

.nickName {
	width: 80%;
	height: 40px;
	margin: 10px 20px 0 20px;
}