@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
#content {
	width: 700px;
}

[id^='Section-']{
	display: block;
}
/* 상품이미지 섹션 */
#Section-prodImg {
	width: 100%;
	height: 550px;
	box-shadow: 0px 0px 3px 1px #EAEAEA;
}
.carousel-inner img {
	width: 100%;
	height: 550px;
}

/* 판매자정보 섹션 */
#Section-sellerInfo #profile{
	padding: 20px 0px;
	height: auto;
}

#Section-sellerInfo #profile_left{
	padding-right: 20px;
}
#Section-sellerInfo #profile_img{
	color: gray;
	opacity: 0.5;
}

#Section-sellerInfo #profile_right{
	padding-top: 7px;
	
}
#Section-sellerInfo #profile_name{
	font-weight: bold;
}

.dropdown {
	margin-left: 5px;
}

/* 포스트 섹션 */
#Section-post{
	padding: 30px 0px;
}
#Section-post #post_title{
	font-weight: bold;
}
#Section-post #post_cate-time{
	color: gray;
}
#Section-post #post_writing{
	padding-top: 1rem;
}

#Section-post #wishitem {
	background-color: black;
	padding-top:135px;
}

#l_icon {
	height: 48px;
}

#btnArea {
	margin-left: 5px;
}


/* 지도 */
#map{
	width:500px; 
	height:270px; 
	background-color: lightblue;
}

h8{
	font-size: 12px;
	color: gray;
}

/* 유사상품 리스트 */
.sticky {
  position: fixed;
  top: 10px;
}
#fixed{
	display: inline-block;
	width: 150px;
	height: auto;
}
#test111{
	width: 100px;
	height: 200px;
	background-color: yellow;
}