<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="buy_reservationMapper">

	
	<resultMap id="buy_reservationMap" type="Buy_Reservation">
	
	<id property="reserno" column="reserno"/>
	<result property="reser_price" column="reser_price"/>
	<result property="state" column="state"/>
	<result property="regdate" column="regdate"/>
	<association property="sellpost" column="sellpostno" javaType="Post"   select="selectPost"/>						
	<association property="user" column="userno" javaType="User"   select="selectUser"/>						
	</resultMap>
	
	
	<select id="selectUser"  resultMap="userMapper.userResultMap">
        SELECT
            *
        FROM
            NUSER
            WHERE
            USERNO = #{user}
    </select>
    
    <select id="selectPost"  resultMap="postMapper.postResultMap">
        SELECT
            *
        FROM
            SELLPOST
            WHERE
            POSTNO = #{sellpost}
    </select>
    
	
     
    
     <insert id="insert" useGeneratedKeys="true"  keyProperty="userno" parameterType="Map" > 
        INSERT INTO Payment_User (userid,username,password,role,logintype,email,picture)
         VALUES (#{userid}, #{username}, #{password}, #{role},#{logintype},#{email},#{picture, jdbcType=BLOB}) 
    </insert>
    
    
    
</mapper>

