<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="locationMapper">
     
     <resultMap id="locationResultMap" type="Location">
	
	 <id  property="locationno"  column="locationno"/>
	<result property="name1" column="name1"/>
	<result property="name2" column="name2"/>
	<result property="name3" column="name3"/>
	<result property="longtitude" column="longtitude"/>
	<result property="latitude" column="latitude"/>
	<result property="tabletype" column="tabletype"/>
	</resultMap>
     
      <select id="selectAll" resultType="Location">
        SELECT
            *
        FROM
            LOCATION
    </select>
     
     
       <select id="findBy"  resultType="Location">
        SELECT
            *
        FROM
            LOCATION
        WHERE 
        ${search} = #{keyword}
    </select>
    



    
     <insert id="insert" parameterType="Location" useGeneratedKeys="true" keyColumn="locationno" keyProperty="locationno">
    	<selectKey keyProperty="locationno" resultType="int" order="AFTER">			   
    	SELECT SEQ_LOCATION_LOCATIONNO.NEXTVAL FROM DUAL
 		</selectKey>
		
        INSERT INTO LOCATION (name1,name2,name3,longtitude,latitude,tabletype)
         VALUES ( #{name1}, #{name2}, #{name3},#{longtitude},#{latitude},#{tabletype}) 
    </insert>
    
    
    <update id="updateBy"  > 
         
         UPDATE LOCATION
SET 
${colum} = #{value}
WHERE
 userno = #{userno}
    </update>
</mapper>

