<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="payment_UserMapper">

	<resultMap id="payment_UserResultMap" type="Payment_User">

		<id property="ph_userno" column="ph_userno" />
		<result property="productname" column="productname" />
		<result property="price" column="price" />
		<result property="sellstate" column="sellstate" />
		<result property="regdate" column="regdate" />
		<result property="userno" column="userno" />
		<association property="business_partner" column="business_partner"  select="securityMapper.selectScBusiness_partner" />
	</resultMap>
	
	
      <select id="selectAll" resultType="Payment_User">
        SELECT
            *
        FROM
            PAYMENT_USER
    </select>
     
       <select id="findBy" resultType="Payment_User">
        SELECT
            *
        FROM
            PAYMENT_USER
        WHERE 
        ${search} = #{keyword}
    </select>
    
     <insert id="insert" useGeneratedKeys="true"  keyProperty="ph_userno" parameterType="Payment_User" > 
       <selectKey keyProperty="ph_userno" resultType="int" order="AFTER">			   
    	SELECT SEQ_PAYMENT_USER_PH_USERNO.CURRVAL FROM DUAL
 		</selectKey>
        INSERT INTO PAYMENT_USER (productname,price,business_partner,sellstate,userno)
         VALUES (#{productname}, #{price}, #{business_partner.userno}, #{sellstate},#{userno}) 
    </insert>
    
    
    <update id="updateBy"  > 
         
         UPDATE PAYMENT_USER
SET 
${colum} = #{value}
WHERE
 userno = #{userno}
    </update>
    
    
</mapper>

