<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="payment_userMapper">

	
	<resultMap id="payment_userResultMap" type="Payment_User">
	
	 <id  property="ph_userno"  column="ph_userno"/>
	<result property="productname" column="productname"/>
	<result property="price" column="price"/>
	<result property="sellstate" column="sellstate"/>
	<result property="regdate" column="regdate"/>
	<association property="user" column="userno" javaType="User"   select="selectUser"/>						
	<association property="user" column="userno" javaType="User"   select="selectUser"/>						
	</resultMap>
	
	
	<select id="selectUser"  resultType="User">
        SELECT
            *
        FROM
            NUSER
            WHERE
            USERNO = #{user}
    </select>
	
      <select id="selectAll" resultMap="payment_userResultMap">
        SELECT
            *
        FROM
            Payment_User
    </select>
     
       <select id="findBy" resultMap="payment_userResultMap">
        SELECT
            *
        FROM
            Payment_User
        WHERE 
        ${search} = #{keyword}
    </select>
    
     <insert id="insert" useGeneratedKeys="true"  keyProperty="userno" parameterType="Map" > 
        INSERT INTO Payment_User (userid,username,password,role,logintype,email,picture)
         VALUES (#{userid}, #{username}, #{password}, #{role},#{logintype},#{email},#{picture, jdbcType=BLOB}) 
    </insert>
    
    
    <update id="updateBy"  > 
         
         UPDATE Payment_User
SET 
${colum} = #{value}
WHERE
 userno = #{userno}
    </update>
    
    
    
</mapper>

