<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="payment_MarketMapper">

	<resultMap id="payment_MarketMap" type="Payment_Market">

		<id property="ph_marketno" column="ph_marketno" />
		<result property="paymenttype" column="paymenttype" />
		<result property="state" column="state" />
		<result property="name" column="name" />
		<result property="userno" column="userno" />
		<result property="regdate" column="regdate" typeHandler="com.nusang.handler.CustomDateHandler" />
		<result property="imp_uid" column="imp_uid" />
		<result property="price" column="price" />
		<association property="post" column="postno" javaType="Post" select="securityMapper.selectScPost" />

	</resultMap>
	
      <select id="selectAll" resultType="Payment_Market">
        SELECT
            *
        FROM
            payment_market
    </select>
     
       <select id="findBy" resultType="Payment_Market">
        SELECT
            *
        FROM
            payment_market
        WHERE 
        ${search} = #{keyword}
    </select>
    
     <insert id="insert" useGeneratedKeys="true"  keyProperty="ph_marketno" parameterType="Payment_Market" > 
       <selectKey keyProperty="ph_marketno" resultType="int" order="AFTER">			   
    	SELECT SEQ_PAYMENT_MARKET_PH_MARKETNO.CURRVAL FROM DUAL
 		</selectKey>
        INSERT INTO PAYMENT_MARKET (paymenttype,state,name,userno,imp_uid,price,postno)
         VALUES (#{paymenttype}, #{state}, #{name}, #{userno},#{imp_uid},#{price},#{post.postno}) 
    </insert>
    
    
    <update id="updateBy"  > 
         
         UPDATE payment_market
SET 
${colum} = #{value}
WHERE
 userno = #{userno}
    </update>
    
    
</mapper>

