<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="payment_MarketMapper">

	
	
      <select id="selectAll" resultType="Payment_Market">
        SELECT
            *
        FROM
            payment_market
    </select>
     
       <select id="findBy" resultType="Payment_Market">
        SELECT
            *
        FROM
            payment_market
        WHERE 
        ${search} = #{keyword}
    </select>
    
     <insert id="insert" useGeneratedKeys="true"  keyProperty="ph_marketno" parameterType="Payment_Market" > 
       <selectKey keyProperty="ph_marketno" resultType="int" order="AFTER">			   
    	SELECT SEQ_PAYMENT_MARKET_PH_MARKETNO.CURRVAL FROM DUAL
 		</selectKey>
        INSERT INTO PAYMENT_MARKET (paymenttype,state,name,userno,imp_uid,price)
         VALUES (#{paymenttype}, #{state}, #{name}, #{userno},#{imp_uid},#{price}) 
    </insert>
    
    
    <update id="updateBy"  > 
         
         UPDATE payment_market
SET 
${colum} = #{value}
WHERE
 userno = #{userno}
    </update>
    
    
</mapper>

