<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postMapper">

	<resultMap id="postResultMap" type="Post">

		<id property="postno" column="postno" />
		<result property="picture" column="picture" />
		<result property="title" column="title" />
		<result property="bodytext" column="bodytext" />
		<result property="price" column="price" />
		<result property="productname" column="productname" />
		<result property="regdate" column="regdate" />
		<result property="category" column="category" />
		<result property="sellstate" column="sellstate" />
		<result property="viewcnt" column="viewcnt" />
		<result property="visible" column="visible" />
		<result property="heartcnt" column="heartcnt" />
		<association property="post_picture" column="post_picno" javaType="Post_Picture" select="selectPostPicture" />
		<association property="user" column="userno" javaType="User" select="selectUser" />
		<association property="location" column="locationno" javaType="Location" select="selectLocation" />
		<collection property="replyList" column="postno" javaType="java.util.ArrayList" ofType="Reply" select="selectReplyList" />
		<collection property="reservationList" column="postno" javaType="java.util.ArrayList" ofType="Buy_Reservation" select="buy_reservationMapper.postReserList" />
		<collection property="watchList" column="postno" javaType="java.util.ArrayList" ofType="WatchList" select="getWatchListById" />

	</resultMap>
	
	
	<select id="selectLocation" resultType="Location">
		SELECT
		*
		FROM
		LOCATION
		WHERE
		LOCATIONNO = #{locationno}
	</select>

	<select id="selectPostPicture" resultType="Post_Picture">
		SELECT
		*
		FROM
		Post_Picture
		WHERE
		POST_PICNO = #{post_picno}
	</select>


	<select id="selectUser" resultMap="userMapper.userResultMap">
		SELECT
		*
		FROM
		NUSER
		WHERE
		USERNO = #{userno}
	</select>

	<select id="selectAll" resultMap="postResultMap">
		SELECT
		*
		FROM
		SELLPOST
	</select>


	<select id="findBy" resultMap="postResultMap">
		SELECT
		*
		FROM
		SELLPOST
		WHERE
		${search} = #{keyword}
	</select>


	<insert id="insert" useGeneratedKeys="true" keyProperty="postno" parameterType="Map">
		<selectKey keyProperty="postno" resultType="int" order="AFTER">			   
    	SELECT SEQ_SELLPOST_POSTNO.CURRVAL FROM DUAL
 		</selectKey>
		INSERT INTO SELLPOST
		(title,bodytext,price,category,userno,productname,locationno,post_picno)
		VALUES (#{title}, #{bodytext}, #{price},#{category},#{userno},#{productname},#{locationno},#{post_picno}
		)
	</insert>
	<!-- ,#{picture, jdbcType=BLOB},#{latitude, jdbcType=FLOAT},#{longtitude, 
		jdbcType=FLOAT} -->

	<update id="updateBy">

		UPDATE SELLPOST
		SET
		${colum} = #{value}
		WHERE
		postno =
		#{postno}
	</update>

	<update id="update">

		UPDATE 
		SELLPOST
		SET
		title = #{title},
		bodytext = #{bodytext},
		price = #{price},
		category = #{category},
		productname = #{productname}
		WHERE
		postno =
		#{postno}
	</update>


	<select id="findPostByLocation" resultMap="postResultMap" statementType="CALLABLE">
		SELECT *
			FROM sellpost  
			WHERE 
				locationno IN
					(SELECT  loc.locationno FROM location loc WHERE 
			 calc_distance( #{latitude,jdbcType=NUMERIC  , mode=IN}, #{longtitude,jdbcType=NUMERIC  , mode=IN}, loc.latitude, loc.longtitude )
		<![CDATA[<]]>
		#{distance}  	
				  	  
				  ) ORDER BY regdate DESC
	</select>
	
	<select id="findPostByDetailSearch" resultMap="postResultMap" statementType="CALLABLE">
		SELECT *
			FROM sellpost  
			WHERE 
				locationno IN
					(SELECT  loc.locationno FROM location loc 
						WHERE 
		 				calc_distance( #{latitude,jdbcType=NUMERIC  , mode=IN}, #{longtitude,jdbcType=NUMERIC  , mode=IN}, loc.latitude, loc.longtitude )
						<![CDATA[<]]>
						#{distance}
						) 
			AND
			category in #{categories}
			AND
			REGEXP_LIKE(title||bodytext||productname, '10|불|전 ','i')
			ORDER BY regdate DESC
	</select>

	<select id="selectReplyList" resultMap="replyMapper.replyMap">
    SELECT * FROM reply WHERE postno = #{postno} ORDER BY regdate ASC
</select>
	<select id="getWatchListById" resultMap="watchListMapper.watchListMap">
    SELECT * FROM WatchList WHERE postno = #{postno}  ORDER BY regdate DESC
</select>

	<delete id="deleteBy"> 
         
         DELETE SELLPOST 
WHERE
 postno = #{postno}
    </delete>

	<delete id="deletePost">
		DELETE FROM SELLPOST
		WHERE
		POSTNO = ${postno}
	</delete>


</mapper>