<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="postMapper">

	<resultMap id="postResultMap" type="Post">

		<id property="postno" column="postno" />
		<result property="picture" column="picture" />
		<result property="title" column="title" />
		<result property="bodytext" column="bodytext" />
		<result property="price" column="price" />
		<result property="productname" column="productname" />
		<result property="regdate" column="regdate" />
		<result property="userno" column="userno" />
		<result property="regdate" column="regdate" />
		<result property="category" column="category" />
		<result property="sellstate" column="sellstate" />
		<result property="viewcnt" column="viewcnt" />
		<result property="visible" column="visible" />
		<!-- 둥지 dto 안에 알 dto -->
		<!-- association property: 둥지dto 자바클래스의 멤버변수중 DB상에서 다른 Table을 참조할 외래키를 
			넣는데 외래키 대신 외래키에 해당하는 dto자체를 객체 형태로 넣으려 할 때 해당 알dto 타입의 객체명 column: 둥지dto_DB 
			Table의 외래키 = 알 dto_DB Table의 고유키 javaType: 알dto의 자바클래스 select: 알dto 타입의 객체를 
			생성하는 쿼리문 -->
		<association property="location" column="locationno"
			javaType="Location" select="selectLocation" />


	</resultMap>

	<select id="selectLocation" resultType="Location">
		SELECT
		*
		FROM
		LOCATION
		WHERE
		LOCATIONNO = #{locationno}
	</select>

	<select id="selectAll" resultMap="postResultMap">
		SELECT
		*
		FROM
		SELLPOST
	</select>


	<select id="findBy" resultType="postMapper">
		SELECT
		*
		FROM
		SELLPOST
		WHERE
		${search} = #{keyword}
	</select>

	<insert id="insert">
		INSERT INTO SELLPOST
		(title,bodytext,price,category)
		VALUES (#{title}, #{bodytext}, #{price},#{category}
		)
	</insert>
	<!-- ,#{picture, jdbcType=BLOB},#{latitude, jdbcType=FLOAT},#{longtitude, 
		jdbcType=FLOAT} -->

	<update id="updateBy">

		UPDATE NUSER
		SET
		${colum} = #{value}
		WHERE
		userno =
		#{userno}
	</update>
</mapper>

