<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="replyMapper">


	<resultMap id="replyMap" type="Reply">
		<id property="replyno" column="replyno" />
		<result property="postno" column="postno" />
		<result property="textbody" column="textbody" />
		<result property="regdate" column="regdate" />
		<result property="state" column="state" />
		<result property="child_replyno" column="child_replyno" />
		<association property="user" column="userno" javaType="User" select="findUser">
			<id column="userno" property="userno" />
			<result column="nickname" property="nickname" />
			<result column="picture" property="picture" />
		</association>
	</resultMap>

	<select id="findUser" resultType="User">
        SELECT
            U.userno, U.nickname, U.picture
        FROM
            NUSER U
            WHERE 
            userno = ${userno}
    </select>


	<select id="selectAll" resultMap="replyMap">
        SELECT
            *
        FROM
            NUSER
    </select>

	<select id="selectLocation" resultType="Location">
        SELECT
            *
        FROM
            LOCATION
            WHERE
            LOCATIONNO = #{location}
    </select>

	<select id="findBy" resultMap="replyMap">
        SELECT
            *
        FROM
            NUSER
        WHERE 
        ${search} = #{keyword}
    </select>


	<insert id="insert" parameterType="Map"> 
	<selectKey keyProperty="postno" resultType="int" order="AFTER">			   
    	SELECT SEQ_SELLPOST_POSTNO.CURRVAL FROM DUAL
 		</selectKey>
        INSERT INTO REPLY (userno,postno,textbody,state,child_replyno)
         VALUES (#{userno}, #{postno}, #{textbody},#{state},#{child_replyno}) 
    </insert>

	<update id="updateBy"> 
         
         UPDATE NUSER
SET 
${colum} = #{value}
WHERE
 userno = #{userno}
    </update>

	<delete id="deleteBy"> 
         
         DELETE REPLY 
WHERE
 replyno = #{replyno}
    </delete>



</mapper>