<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">


	<resultMap id="userResultMap" type="User">

		<id property="userno" column="userno" />
		<result property="username" column="username" />
		<result property="userid" column="userid" />
		<result property="password" column="password" />
		<result property="logintype" column="logintype" />
		<result property="email" column="email" />
		<result property="regdate" column="regdate" />
		<result property="picture" column="picture" />
		<result property="role" column="role" />
		<result property="nickname" column="nickname" />
		<result property="view_distance" column="view_distance" />
		<association property="location" column="locationno" javaType="Location" select="selectLocation" />
		<collection property="payment_MarketList" column="userno" javaType="java.util.ArrayList" ofType="Payment_Market" select="getPMListById" />
		<collection property="payment_UserList" column="userno" javaType="java.util.ArrayList" ofType="Payment_User" select="getPUListById" />
	<!--	<collection property="reservationList" column="userno" javaType="java.util.ArrayList" ofType="Buy_Reservation" select="buy_reservationMapper.userReserList" />
-->
	</resultMap>


	<select id="selectAll" resultMap="userResultMap">
        SELECT
            *
        FROM
            NUSER
    </select>

	<select id="selectLocation" resultType="Location">
        SELECT
            *
        FROM
            LOCATION
            WHERE
            LOCATIONNO = #{location}
    </select>

	<select id="findBy" resultMap="userResultMap">
        SELECT
            *
        FROM
            NUSER
        WHERE 
        ${search} = #{keyword}
    </select>

	<select id="loginCheck" resultMap="userResultMap">
        SELECT
            *
        FROM
            NUSER
        WHERE 
        userid = #{userid} 
       AND 
       password = #{password}
       
    </select>

	<select id="idCheck" resultMap="userResultMap">
        SELECT
            *
        FROM
            NUSER
        WHERE 
        username = #{username} 
       AND 
       email = #{email}
       
    </select>

	<select id="pwCheck" resultMap="userResultMap">
        SELECT
            *
        FROM
            NUSER
        WHERE 
        username = #{username} 
       AND 
		userid = #{userid}
	   AND
       email = #{email}
       
    </select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="userno" parameterType="User">
		<selectKey keyProperty="userno" resultType="int" order="AFTER">			   
    	SELECT SEQ_NUSER_USERNO.CURRVAL FROM DUAL
 		</selectKey>
		INSERT INTO NUSER (userid,username,password,role,logintype,email,picture,nickname)
         VALUES (#{userid}, #{username}, #{password}, #{role},#{logintype},#{email},#{picture},#{nickname})
	</insert>


	<update id="updateBy"> 
         
         UPDATE NUSER
SET 
${colum} = #{value}
WHERE
 userno = #{userno}
    </update>


	<select id="getPMListById" resultType="Payment_Market">
    SELECT * FROM Payment_Market WHERE userno = #{userno}
</select>
	<select id="getPUListById" resultType="Payment_User">
    SELECT * FROM Payment_User WHERE userno = #{userno}
</select>


</mapper>