<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sqlmap.mapper.userMapper.xml">
     
     
      <select id="selectAll" resultType="com.nusang.dto.User">
        SELECT
            *
        FROM
            NUSER
    </select>
     
     
     <select id="findByUUid"  resultType="com.nusang.dto.User">
        SELECT
            *
        FROM
            NUSER
        WHERE 
        UUID = #{uuid}
    </select>
    
       <select id="findByUsername"  resultType="com.nusang.dto.User">
        SELECT
            *
        FROM
            NUSER
        WHERE 
        USERNAME = #{username}
    </select>
    
     <insert id="insertUser"  > 
        INSERT INTO NUSER (uuid,userid,username,password,role)
         VALUES (#{uuid}, #{userid}, #{username}, #{password}, #{role}) 
    </insert>
</mapper>

