<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="watchListMapper">


	<resultMap id="watchListMap" type="WatchList">
		<id property="userno" column="userno" />
		<result property="watchlistno" column="watchlistno" />
		<association property="post" column="postno" select="securityMapper.selectScPost" />
	</resultMap>
	
	
     
       <select id="findBy" resultMap="watchListMap">
        SELECT
            *
        FROM
            WATCHLIST
        WHERE 
        ${search} = #{keyword}
    </select>
    
    
     <insert id="insert" useGeneratedKeys="true"  keyProperty="watchlistno" parameterType="WatchList" > 
     <selectKey keyProperty="userno" resultType="int" order="AFTER">			   
    	SELECT SEQ_WATCHLIST_WATCHLISTNO.CURRVAL FROM DUAL
 		</selectKey>
        INSERT INTO WATCHLIST (userno,watchlistno,postno)
         VALUES (#{userno},#{watchlistno},#{post.postno} ) 
    </insert>
    
    
    <update id="updateBy"  > 
         
         UPDATE WATCHLIST
SET 
${colum} = #{value}
WHERE
 userno = #{userno}
    </update>
    
    
    <delete id="deleteBy"> 
         
         DELETE WATCHLIST 
WHERE
 watchlistno = #{watchlistno}
    </delete>
</mapper>

