@charset "UTF-8";

#test{
	background-color: yellow;
}

#caretup{
	display: none;
}

/* 상세검색 팝업창 */
#detailSearch-pop{
	display: none;
	position: absolute;
	right:0;
	z-index: 1;
	width: 500px;
	height: auto;
	border: 1px solid black;
	background-color: #fff;
	border-radius: 10px;
}

#detailSearch-pop input{
	cursor: pointer;
}
#detailSearch-pop label{
	cursor: pointer;
}

#detailSearch-pop #popHeader{
	background-color: #1DDB16;
	border-radius: 10px 10px 0px 0px;
}
#detailSearch-pop #closeBtn{
	cursor: pointer;
}

#detailSearch-pop #popHtext{
	font-size: 20px;
	margin-left: 5px;
	font-weight: bold;
}
#detailSearch-pop .popIndex{
	display: block;
	font-weight: bold;
}
#detailSearch-pop .form-check{
	width: 166px;
}

.fa-times{
	margin-top: 3px;
	margin-right: 8px;
	font-size: 25px;
}
