@charset "UTF-8";

#test{
	background-color: yellow;
}

#caretup{
	display: none;
}

#searchZone{
	padding: 0;
	width: auto;
}

/* 상세검색 팝업창 */
#detailSearch-pop{
	display: none;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	border: 1px solid black;
	background-color: #EAEAEA;
}



/* .dropdown {
  overflow: hidden;
} */