@charset "UTF-8";

#postCard{
	width: 280px; 
	height: 350px;
	padding: 0px 20px;
}

#postCard #card_title{
	width: 100%;
	overflow: hidden;
}
#postCard #card_price{
	font-weight: bold;
}
h8{
	font-size: 12px;
	color: gray;
}